<form method="POST" action="/auth/signup" class="form">
    <h1>Signup</h1>

    <label for="fullName">fullName</label>
    <input type="text" name="fullName" class="input">

    <label for="email">email</label>
    <input type="text" name="email" class="input">

    <label for="password">password</label>
    <input type="password" name="password" class="input">

    <button class="btn">Go</button>

    <p>
        Already have an account ? <a class="link" href="/auth/login">please signin !</a>
    </p>
</form>